@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border border-solid border-gray-200 rounded-md shadow-md overflow-hidden;
}

.input {
  @apply p-2 border border-solid m-2 rounded outline-gray-500 outline-2
}
.btn {
  @apply px-4 py-2 font-semibold text-lg m-1 rounded shadow-md
}

* {
  box-sizing: border-box;
}